.sectionPortrait{
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionPortrait > .sectionHeadingDiv{
    width: 100%;
    /* background-color: blue; */
    height: 10vh;
    position: relative;
    /* this is for the anchor link to be positioned above */
    display: flex;
    justify-content: center;
    align-items: center;
}


.sectionPortrait > .sectionHeadingDiv > .anchorLinkDiv {
    position: absolute;
    height: 8vh;
    top: -8vh;
}

.sectionPortrait > .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* min-height: 300px; */
}

.sectionPortrait > .content > div {
    /* width: 100%; */
    /* border: 1px solid black; */
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionPortrait > .content > .imageDiv{
    /* width: 100%; */
    /* background-color: thistle; */
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionPortrait > .content >  .imageDiv >img{
    height: 90%;
}








