.sectionPortraitTop{
    background-color: var(--light-color);
    color: var(--dark-color);
    margin-top: 10vh;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionPortraitTop > .sectionHeadingDiv{
    width: 100%;
    /* background-color: blue; */
    height: 10vh;
    position: relative;
    /* this is for the anchor link to be positioned above */
    display: flex;
    justify-content: center;
    align-items: center;
}


.sectionPortraitTop > .sectionHeadingDiv > .anchorLinkDiv {
    position: absolute;
    height: 10vh;
    top: -10vh;
}

.sectionPortraitTop > .content {
    width: 100%;
    height: 90%;
    max-width: 900px;
    background-color: coral;
    /* that's 2% of the parent width I think */
    display: flex;
    flex-direction: column;
    /* min-height: 300px; */
}

.sectionPortraitTop > .content > div {
    width: 100%;
    border: 1px solid black;
    padding: 2%;
}




