:root{
  --dark-color: black;
  --main-color:  #FF6758;
  --light-color: #FFFFFF;
  --secondary-color: #2ECAEF;
  /* --accent-color: #5c5c5c; */
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /* 100,400,700 font weights */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

h1{
  margin:0;
  padding: 0;
  font-size: 32px; 
}

h2, h3{
  margin: 0;
}

ul{
  list-style: none;
  padding: 0;
}

.hidden {
  display: none;
}

a {
  color: unset;
  text-decoration: none;
}

a:hover{
  color: var(--secondary-color);
}

.bgColorMain{
  background-color: var(--main-color);
}

.bgColorDark{
  background-color: var(--dark-color);
}

.bgColorLight{
  background-color: var(--light-color);
}

.fontColorMain{
  color: var(--main-color);
}

.fontColorDark{
  color: var(--dark-color);
}

.fontColorLight{
  color: var(--light-color);
}

button {
  display: inline-block;
  border: none;
  text-decoration: none;
  background: var(--main-color);
  border-radius: 10px;
  padding: 10px 20px;
  color: var(--light-color);
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: var(--dark-color);
  color: var(--light-color)
}

button:focus{
  outline: 1px solid --light-color;
  outline-offset: -4px;
}

button:disabled {
  background: var(--main-color);
  color: var(--dark-color);
  cursor: unset;
}

button:active {
  transform: scale(0.99);
}
