.sectionLandscapeTitleRight{
    background-color: var(--light-color);
    color: var(--dark-color);
    padding-top: 80px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionLandscapeTitleRight > .title{
    width: 100%;
    /* background-color: blue; */
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.sectionLandscapeTitleRight > .content {
    width: 100%;
    height: 90%;
    max-width: 900px;
    background-color: coral;
    /* that's 2% of the parent width I think */
    display: flex;

}

.sectionLandscapeTitleRight > .content > div {
    width: 50%;
    border: 1px solid black;
    padding: 2%;
}


